
@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/woff2/iosevka-normal-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src:  url('/woff2/iosevka-normal-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src:  url('/woff2/iosevka-normal-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('/woff2/iosevka-normal-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/woff2/iosevka-normal-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('/woff2/iosevka-normal-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('/woff2/iosevka-normal-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('/woff2/iosevka-normal-extendeditalic.woff2') format('woff2');
}
